@charset "utf-8";
* {
outline : 0;
margin : 0;
padding : 0;
}
body {
font-family : Verdana, Geneva, sans-serif;
color : #ffffea;
background : #000 url(image/fondo_top.jpg) no-repeat;
width : 98%;
margin-right : auto;
margin-left : auto;
min-height : 100%;
height : auto !important ;
}
#contenido {
min-height : 100%;
height : auto !important ;
}
.header {
text-align : center;
margin-right : auto;
margin-left : auto;
background : url(Images/header_02_repite.gif) repeat-x;
height : 80px;
}
.logo {
float : left;
width : 245px;
height : 80px;
}
.adsense-header {
float : left;
background : url(Images/header_02.gif) repeat-x;
height : 80px;
}
.languages {
float : right;
height : 80px;
width : 170px;
}
.header-end {
float : right;
height : 80px;
width : 4px;
}
.menu {
width : 202px;
background : transparent url(Images/superior.gif) no-repeat;
}
.menu span {
display : block;
text-align : center;
font-size : 12px;
height : 48px;
line-height : 50px;
color : #f5f5f5;
}
.menu ul {
margin-right : 15px;
}
.menu ul li {
background : transparent url(Images/cuerpo.gif) repeat-y;
list-style-type : none;
font-size : 12px;
display : block;
width : 202px;
text-align : left;
overflow : hidden;
margin : 0;
}
.menu ul li a {
display : block;
width : 185px;
color : #f5f5f5;
text-decoration : none;
padding : 0 0 5px 15px;
}
.menu ul li.ultimo {
background : transparent url(Images/cierre.gif) no-repeat 0 bottom;
height : 27px;
padding : 0;
}
a {
color : #fff;
}
.menu-icon{border:none;}
#contenedorgral {
background : url(Images/content_08.gif) repeat-y;
width : 100%;
}
#contenedorpag {
background : url(Images/content_10.gif) repeat-y top right;
font-size : 12px;
overflow : hidden;
width : 100%;
}
.middle-content {
background : url(Images/back.gif);
margin-left : 20px;
margin-right : 20px;
overflow : hidden;
}
#bloque-medio {
max-width : 100%;
min-width : 1024px;
}
#menu-der {
float : right;
width : 200px;
}
.contenido-medio {
width : 98%;
margin-left : 8px;
margin-right : auto;
padding : 5px 0;
}
.contenido-header {
height : 53px;
background : url(Images/content_01.gif) no-repeat top left;
}
.contenido-back {
background : url(Images/content_03.gif) repeat-x;
width : 50%;
text-align : right;
margin-left : 25px;
margin-right : 17px;
height : 53px;
overflow : hidden;
}
.float-left {
float : left;
}
.float-right {
float : right;
}
.contenido-header-derecha {
background : url(Images/content_07.gif) no-repeat top right;
overflow : hidden;
height : 53px;
width : 100%;
}
.medio {
background : url(Images/content_03.gif) repeat-x;
height : 53px;
font-size : 1em;
line-height : 50px;
text-align : center;
margin-left : 25px;
margin-right : 25px;
}
.contenido-foot {
height : 53px;
background : url(Images/content_11.gif) no-repeat top left;
}
.contenido-foot-derecha {
background : url(Images/content_13.gif) no-repeat top right;
overflow : hidden;
width : 100%;
}
.medio-foot {
background : url(Images/content_12.gif) repeat-x;
height : 28px;
line-height : 50px;
text-align : center;
margin-left : 25px;
margin-right : 25px;
}
.titulo {
height : 53px;
}
.contenido-footer {
height : 10px;
background : url(Images/footer_01.gif) no-repeat top left;
}
.contenido-footer-derecha {
background : url(Images/footer_03.gif) no-repeat top right;
overflow : hidden;
width : 100%;
}
.medio-footer {
background : url(Images/footer_02.gif) repeat-x;
height : 10px;
line-height : 50px;
text-align : center;
margin-left : 5px;
margin-right : 5px;
}
.contenido-medio-footer {
background : url(Images/footer_04.gif) repeat-y top left;
}
.contenido-medio-footer-derecha {
background : url(Images/footer_06.gif) repeat-y top right;
overflow : hidden;
width : 100%;
}
.medio-medio-footer {
background : url(Images/back.gif);
font-size : 12px;
margin-left : 5px;
margin-right : 5px;
line-height : 21px;
}
.search-box {
margin-left : 8px;
}
.contenido-abajo-footer {
height : 10px;
background : url(Images/footer_07.gif) no-repeat top left;
}
.contenido-abajo-footer-derecha {
background : url(Images/footer_09.gif) no-repeat top right;
overflow : hidden;
width : 100%;
}
.medio-abajo-footer {
background : url(Images/footer_08.gif) repeat-x;
height : 10px;
line-height : 50px;
text-align : center;
margin-left : 5px;
margin-right : 5px;
}
.textos {
border : none;
background : transparent url(image/text.gif) no-repeat;
color : #d9deda;
width : 303px;
}
.bold {
font-weight : 700;
}
.login-box {
border : none;
background : transparent url(image/login_text.gif) no-repeat;
color : #d9deda;
width : 129px;
margin-left : 15px;
}
a:visited {
color : #ffc;
}
.imagen-random {
border : 1px solid;
}
.adsense-useful {
margin-left : 15px;
z-index : 800;
}
.fllft-50prcnt {
width : 50%;
}
img, img a {
border : none;
}
a:hover, .menu ul li a:hover {
text-decoration : underline;
color : #fc0;
}
.common-texto, h3 {
margin-left : 15px;
font-size:12px;
text-decoration : none;
}
body {
font : 1em Verdana, Geneva, sans-serif;
margin : 0;
padding : 0;
text-align : center;
}
.thrColElsHdr #container {
width : 99%;
margin : 0 auto;
text-align : left;
}
.thrColElsHdr #header {
padding : 0 10px;
}
.thrColElsHdr #header h1 {
margin : 0;
padding : 10px 0;
}
.thrColElsHdr #sidebar1 {
float : left;
width : 200px;
padding : 5px 0;
}
.thrColElsHdr #sidebar2 {
float : right;
width : 200px;
padding : 5px 0;
}
.thrColElsHdr #sidebar1 h3, .thrColElsHdr #sidebar1 p, .thrColElsHdr #sidebar2 p, .thrColElsHdr #sidebar2 h3 {
margin-left : 10px;
margin-right : 10px;
}
.thrColElsHdr #mainContent {
margin : 0 12em 0 12em;
}
.thrColElsHdr #footer {
padding : 0 10px;
}
.thrColElsHdr #footer p {
margin : 0;
padding : 10px 0;
}
.fltrt {
float : right;
margin-left : 8px;
}
.fltlft {
float : left;
margin-right : 8px;
}
.clearfloat {
clear : both;
height : 0;
font-size : 1px;
line-height : 0;
}