@charset "utf-8";
body { font: 1em Verdana, Geneva, sans-serif; margin: 0; padding: 0; text-align: center; }
.thrColElsHdr #container { width: 99%; margin: 0 auto; text-align: left; }
.thrColElsHdr #header { padding: 0 10px; }
.thrColElsHdr #header h1 { margin: 0; padding: 10px 0; }
.thrColElsHdr #sidebar1 { float: left; width: 200px; padding: 5px 0; }
.thrColElsHdr #sidebar2 { float: right; width: 200px; padding: 5px 0; }
.thrColElsHdr #sidebar1 h3, .thrColElsHdr #sidebar1 p, .thrColElsHdr #sidebar2 p, .thrColElsHdr #sidebar2 h3 { margin-left: 10px; margin-right: 10px; }
.thrColElsHdr #mainContent { margin: 0 12em 0 12em; }
.thrColElsHdr #footer { padding: 0 10px; }
.thrColElsHdr #footer p { margin: 0; padding: 10px 0; }
.fltrt { float: right; margin-left: 8px; }
.fltlft { float: left; margin-right: 8px; }
.clearfloat { clear:both; height:0; font-size: 1px; line-height: 0px; }
