/* CSS Document */

body{
	background:url(/images/interior_banner1.jpg) no-repeat #000000;
	color:#ACB6C2;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:229px;
}
#intSubhead{
	width:795px;
	height:64px;
	left:193px;
	top:209px;
	position:relative;
}
#mainTable{
	background:url(/images/bg_maintable.jpg) repeat-y #00192C; 
	width:775px; 
	left:210px;
	top:209px;
	position:relative;
}
#mainTableBot{
	background:url(/images/bg_maintable-bot.jpg) no-repeat;
	width:772px; 
	height:16px;
	left: -4px;
	position:relative;
	clear: both;
}
#leftCol{
	margin:30px 0px 30px 10px;
	float:left;
	display:inline;
}
#leftColContent{
	overflow: hidden;
	width: 580px;
}

#rightCol{
	float:right;
	margin-right:7px;
	width:174px;
	display:inline;
}
.clearBoth{
	clear:both;
	font-size: 1px;
}
#rbEvent p, #rbEvent div{
	margin:5px 10px 5px 15px;
	clear:both;
}
.np09b{
	color:#D2A517;
	font-size:12px;
	font-weight:bold;
}
a:link {
	color:#97E6ED; 
	text-decoration:none;
}
a:visited {
	color:#97E6ED; 
	text-decoration:none;
}
a:active {
	color:#97E6ED; 
	text-decoration:underline;
}
a:hover {
	color:#FFF; 
	text-decoration:underline;
}
#logoMap{
	position:absolute;
	left:9px;
	width:204px;
	height:195px;
	top:56px;
}
#logoMap a{width:204px; height:195px; display:block;}
#nav{
	position:absolute;
	top:248px;
	left:1px;
}
.readMore{
	height:19px;
	text-align:right;
}
/* nav styles */

div#navContainer{
	width: 192px;
	position: absolute;
	top: 250px;
	left: 0px;
	z-index: 2;
}
div#navInner{
	background: url(/images/nav_bg.gif);
	background-repeat: repeat-y;
}
.navIMG{
	margin-bottom: 5px;
}
.menuSubsContainer{
	display: none;
	opacity: .9;
	float: left;
	position: absolute;
	z-index:500;
}
.menuTitle{
	cursor: pointer;
	font-size: 11px;

}
.menuTitle p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.menuSubText{
	border-left: solid 1px #F3DCA3;
	border-right: solid 1px #F3DCA3;
	padding: 2px;
	font-size: 11px;
	cursor: pointer;
	background: #000000;

	padding-right: 15px;
	text-align: left;

}
.menuSubTextBorderTop{
	border-bottom: solid 1px #FFFFDB;
	margin-left: 1px;
	margin-right: 1px;
	clear: both;
	font-size: 1px;
}
.menuSubTextBorderBottom{
	border-top: solid 1px #F0D49C;
	margin-left: 1px;
	margin-right: 1px;
	clear: both;
	font-size: 1px;
}
div.subNavElement{
	cursor: pointer;
}
.menuSubNavLink:link, .menuSubNavLink:visited, .menuSubNavLink:active{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}
.menuSubNavLink:hover{
	color: #43BCC6;
	text-decoration: none;
}

/*Footer Styles */
div#footerWrapper {
	width:770px; 
	clear: both;
	position: relative;
	background: #000000;
	padding-top: 30px;
}
.legalcopy {font:9px Arial, Helvetica, sans-serif; color:#A2A2A2; float:right; width:145px; display:inline; margin-top:10px;}
.dotlineDiv {float:left; display:inline; margin:0px 5px 0px 5px;}
.logoContainer {float:right; text-align:center; margin-top:10px; display:inline;}
.ncLegal {width:500px; float:left; display:inline; margin-top:40px;}
.ncLogo {width:100px; float:left;}
.footertxt {font-family:Arial; font-size:11px; color: #4A78AD;font-weight:bold; width:400px; float:left;}
.intelWrapper {float:right; width:170px;}

.footertxt a:link { font-size: 11px; color: #4A78AD; text-decoration: none;font-weight:bold;}
.footertxt a:visited { font-size: 11px; color: #4A78AD; text-decoration: none;font-weight:bold;}
.footertxt a:active { font-size: 11px; color: #ffffff; text-decoration: none;font-weight:bold;}
.footertxt a:hover { font-size: 11px; color: #ffffff; text-decoration: none;font-weight:bold;}

/* ---------------------- legacy css ----------------- */

#m1 {display:none; }
#m2 {display:none; }
#m3 {display:none; }
#m4 {display:none; }
#m5 {display:none; }
#m6 {display:none; }
#m7 {display:none; }
#m8 {display:none; }

error{color:#FF0000}

td {font-family:Verdana; font-size:11px; color: #ACB6C2}/* #D9DEE3; */
textarea {font-family:Verdana; font-size:11px; color:#000000; padding:3px; line-height:16px;}
input,select {font-family:Verdana; font-size:11px; color:#000000;}
.tblborder {border:1px solid #7D99AC;}
.tblborder_sel {border:1px solid #FFEE71;}
img {border:0px;}

/* News Styles */
.newswrapper{text-align:left;}
.newsHeader{padding:20px 40px 20px 40px;}
.bbs02{float:right;}
.bbs07{float:left;}
.bbs03l{margin:0px 40px 0px 40px;}
.divider {background:url(/common/images/dotline.gif) no-repeat; margin:30px 0px 0px 40px;}
ul{margin-top:0px;}
.content {text-align:left;}

.input01 {border:1px solid #BCC3C7; height:20px }
.input02 {border:1px solid #A0AEBF; color:#ffffff; background:#4E637E;

scrollbar-face-color: #A0AEBF; 
scrollbar-shadow-color: #4E5580; 
scrollbar-highlight-color: #A0AEBF; 
scrollbar-3dlight-color: #4E5580; 
scrollbar-darkshadow-color: #A0AEBF; 
scrollbar-track-color: #A0AEBF; 
scrollbar-arrow-color: #4E637E}

}
.input03 {border:1px solid #1E2225; color:#ffffff; background:#396474;} 
.input04 {border:0px; color:#ffffff; background:#396474;} 



.default {color:#ACB6C2; line-height:16px;}

.bbs07 {font-family:verdana; font-size:11px; color:#DABA4C; font-weight:bold;}
.bbs08 {font-family:verdana; font-size:12px; color:#DABA4C; font-weight:bold;}

.bbs01 {font-family:verdana; font-size:11px; color:#8CA8C8; font-weight:bold;}

.bbs02 {font-family:verdana; font-size:11px; color:#A0AFBD;}

.bbs03 {font-family:verdana; font-size:11px; color:#A0AFBD; line-height:16px;}
/*.bbs03 a:link {color: #A0AFBD; text-decoration:none;}
.bbs03 a:visited {color: #A0AFBD; text-decoration:none;}
.bbs03 a:active {color: #A0AFBD; text-decoration:none;}
.bbs03 a:hover {color: #A6DAE5; text-decoration:none;}*/
.bbs03l {font-family:verdana; font-size:11px; color:#A0AFBD; line-height:16px;}

/* News Link Colors */
.m02 a:link, .bbs03l a:link, .bbs03 a:link {color: #97E6ED; text-decoration:none;}
.m02 a:visited, .bbs03l a:visited, .bbs03 a:visited {color: #97E6ED; text-decoration:none;}
.m02 a:active, .bbs03l a:active, .bbs03 a:active {color: #97E6ED; text-decoration:underline;}
.m02 a:hover, .bbs03l a:hover, .bbs03 a:hover {color: #FFF; text-decoration:underline;}
a:link {color: #97E6ED; text-decoration:none;}
a:visited {color: #97E6ED; text-decoration:none;}
a:active {color: #97E6ED; text-decoration:underline;}
a:hover {color: #FFF; text-decoration:underline;}


.bbs04 {font-family:verdana; font-size:11px; color:#ACB6C2;}
.bbs04 a:link {color: #ACB9C2; text-decoration:none;}
.bbs04 a:visited {color: #ACB9C2; text-decoration:none;}
.bbs04 a:active {color: #ACB9C2; text-decoration:none;}
.bbs04 a:hover {color: #ACB9C2; text-decoration:underline;}

.bbs05 {font-family:verdana; font-size:11px; color:#FFFFFF; font-weight:bold;}

.bbs06 {font-family:verdana; font-size:11px; color:#FFFFFF;}

.paging {font-family:verdana; font-size:11px; color: #ACB9C2;}
.paging a:link {color: #ACB9C2; text-decoration:none;}
.paging a:visited {color: #ACB9C2; text-decoration:none;}
.paging a:active {color: #ACB9C2; text-decoration:none;}
.paging a:hover {color: #ACB9C2; text-decoration:underline;}

.paging02 {font-family:verdana; font-size:11px; color: #D9DEE3;}
.paging02 a:link {color: #4A78AD; text-decoration:none;}
.paging02 a:visited {color: #4A78AD; text-decoration:none;}
.paging02 a:active {color: #4A78AD; text-decoration:none;}
.paging02 a:hover {color: #D9DEE3; text-decoration:none;}

.m01 {color:#B4BEC3; font-size:10px;}
.m02 {color:#D9DEE3; font-size:10px;}

.m03 {color:#D9DEE3; font-size:12px; font-weight:bold;}
.m04 {color:#8CA8C8; font-size:10px; font-weight:bold;}
.m04 a:link {color: #8CA8C8; text-decoration:none;}
.m04 a:visited {color: #8CA8C8; text-decoration:none;}
.m04 a:active {color: #8CA8C8; text-decoration:none;}
.m04 a:hover {color: #D9DEE3; text-decoration:none;}
.m05 {color:#E6C21C; font-size:10px; font-weight:bold;}

.m06 {color:#869DAC; font-size:10px;}
.m06 a:link {color: #869DAC; text-decoration:none;}
.m06 a:visited {color: #869DAC; text-decoration:none;}
.m06 a:active {color: #869DAC; text-decoration:none;}
.m06 a:hover {color: #ffffff; text-decoration:none;}

.m07 {color:#91BFD9; font-size:11px; font-weight:bold; line-height:13px;  text-decoration:none;}
.m07 a:link {color:#91BFD9; text-decoration:none;}
.m07 a:visited {color: #869DAC; text-decoration:none;}
.m07 a:active {color: #869DAC; text-decoration:none;}
.m07 a:hover {color: #ffffff; text-decoration:none;}

.m08 {color:#869DAC; font-size:10px; line-height:13px;  text-decoration:none;}
.m08 a:link{color:#869DAC; text-decoration:none; }
.m08 a:visited {color: #869DAC; text-decoration:none;}
.m08 a:active {color: #869DAC; text-decoration:none;}
.m08 a:hover {color: #ffffff; text-decoration:underline;}
.m08 a:visited {color: #869DAC; text-decoration:none;}
.m07 a:active {color: #869DAC; text-decoration:none;}
.m07 a:hover {color: #ffffff; text-decoration:none;}
.m09 {color:#CDE4F3; font-size:9px;}
.m10 {color:#869DAC; font-size:9px;}
.m11 a:link {color: #DABA4C; text-decoration:none; font-size:9px;}
.m11 a:visited {color: #DABA4C; text-decoration:none; font-size:9px;}
.m11 a:active {color: #DABA4C; text-decoration:none; font-size:9px;}
.m11 a:hover {color: #DABA4C; text-decoration:none; font-size:9px;}

.m12 {color:#69767F; font-size:10px;}
.m12 a:link {color: #69767F; text-decoration:none;}
.m12 a:visited {color: #69767F; text-decoration:none;}
.m12 a:active {color: #69767F; text-decoration:none;}
.m12 a:hover {color: #ffffff; text-decoration:none;}

.tb01 {color:#ACB6C2;}
.tb01 a:link {color: #ACB9C2; text-decoration:none;}
.tb01 a:visited {color: #ACB9C2; text-decoration:none;}
.tb01 a:active {color: #ACB9C2; text-decoration:none;}
.tb01 a:hover {color: #A6DAE5; text-decoration:none;}



.signup01 {font-family:verdana; font-size:11px; color: #D9DEE3;}

.bg01 {text-align: left; font-family:verdana; font-size:11px; color: #8CA8C8;}
.bg01 a:link {color: #8CA8C8; text-decoration:none;}
.bg01 a:visited {color: #8CA8C8; text-decoration:none;}
.bg01 a:active {color: #8CA8C8; text-decoration:none;}
.bg01 a:hover {color: #8CA8C8; text-decoration:underline;}
.bg02 {color: #FFFFFF;font-weight:bold;}
.bg03 {font-family:verdana; font-size:11px; color: #DABA4C;}


.bg04 {font-family:verdana; font-size:12px; color: #dddddd;font-weight:bold;}
.bg04 a:link {color: #dddddd; text-decoration:none;font-weight:bold;}
.bg04 a:visited {color: #dddddd; text-decoration:none;font-weight:bold;}
.bg04 a:active {color: #dddddd; text-decoration:none;font-weight:bold;}
.bg04 a:hover {color: #dddddd; text-decoration:underline;font-weight:bold;}

.bg05 {font-family:verdana; font-size:12px; color: #8CA8C8;font-weight:bold;}
.bg05 a:link {color: #8CA8C8; text-decoration:none;font-weight:bold;}
.bg05 a:visited {color: #8CA8C8; text-decoration:none;font-weight:bold;}
.bg05 a:active {color: #8CA8C8; text-decoration:none;font-weight:bold;}
.bg05 a:hover {color: #8CA8C8; text-decoration:underline;font-weight:bold;}

.np01 {color: #8CA8C8;}
.np01 a:link {color: #8CA8C8; text-decoration:none;}
.np01 a:visited {color: #8CA8C8; text-decoration:none;}
.np01 a:active {color: #D9DEE3; text-decoration:none;}
.np01 a:hover {color: #D9DEE3; text-decoration:none;}
.np01b {font-size:12px; color: #DABA4C;font-weight:bold;}
.np02 {color:#ACB6C2;line-height:15px;}

.np02b {font-size:12px;color: #D9DEE3;font-weight:bold;}
.np03 {color: #7C94B0;}
.np04 {color: #FFFFFF;}
.np05 {color: #704638;}
.np05 a:link {color: #704638; text-decoration:none;}
.np05 a:visited {color: #704638; text-decoration:none;}
.np05 a:active {color: #704638; text-decoration:none;}
.np05 a:hover {color: #704638; text-decoration:underline;}
.np06 {color: #4D621F;}
.np06 a:link {color: #4D621F; text-decoration:none;}
.np06 a:visited {color: #4D621F; text-decoration:none;}
.np06 a:active {color: #4D621F; text-decoration:none;}
.np06 a:hover {color: #4D621F; text-decoration:underline;}
.np07 {color: #4C5257;}
.np07 a:link {color: #4C5257; text-decoration:none;}
.np07 a:visited {color: #4C5257; text-decoration:none;}
.np07 a:active {color: #4C5257; text-decoration:none;}
.np07 a:hover {color: #4C5257; text-decoration:underline;}
.np08 {color: #8CA8C8; font-weight:bold;}
.np08 a:link {color: #8CA8C8; text-decoration:underline;}
.np08 a:visited {color: #8CA8C8; text-decoration:underline;}
.np08 a:active {color: #D9DEE3; text-decoration:underline;}
.np08 a:hover {color: #D9DEE3; text-decoration:underline;}

.np09 {color: #D2A517;}
.np09 a:link {color: #D2A517; text-decoration:none;}
.np09 a:visited {color: #D2A517; text-decoration:none;}
.np09 a:active {color: #D2A517; text-decoration:none;}
.np09 a:hover {color: #D2A517; text-decoration:none;}
.np09b {font-size:12px; color: #D2A517;font-weight:bold;}


.dl01 {color: #8CA8C8;}
.dl01 a:link {color: #8CA8C8; text-decoration:none;}
.dl01 a:visited {color: #A9A9A9; text-decoration:none;}
.dl01 a:active {color: #A2DDE1; text-decoration:none;}
.dl01 a:hover {color: #A2DDE1; text-decoration:underline;}
.dl02 {font-family:verdana; font-size:11px; color: #8CA8C8;}
.dl02 a:link {color: #8CA8C8; text-decoration:none;}
.dl02 a:visited {color: #8CA8C8; text-decoration:none;}
.dl02 a:active {color: #8CA8C8; text-decoration:none;}
.dl02 a:hover {color: #ffffff; text-decoration:none;}

.sp01 {font-size:12px;color: #D9DEE3;}

#Table6, #Table9{margin-left:30px;}