/*
Hoja de estilo de L2 Inside

Si se desea usar parte de ella en su sitio web, debe sejar los creditos en un lugar visible dentro de la web, apuntando a l2inside.org
*/
body {
	background-color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFEA;
}
a {
	color: #FFFFFF;
	font-size:12px;
}
div{
	font-size:12px;
}
strong{
	font-size:12px;
}
b{
	font-size:12px;
}

span{
	font-size:12px;
}
th:hover {
	background-color:#666666;
	border-collapse:collapse;
}
table {
	border-collapse:collapse;
	border-color:#666666;
	font-size:12px;

}

a:visited {
	color:#FFFFCC;
	font-size:12px;
}
a:hover {
	color:#FFCC00;
	font-size:12px;
}
.log_but{
	border: 0pt none ;
	background: transparent url(image/butt/log_sim.gif) no-repeat; 
	color: rgb(217, 222, 218); 
	width: 94px;
	height:21px;
}
.log_but:hover{
	border: 0pt none ;
	background:url(image/butt/log_hover.gif) no-repeat; 
	color: rgb(217, 222, 218); 
	width: 94px;
	height:21px;
}
img{
	border-color:#FFFFFF;
}
img:hover{
	border-color:#FFCC00;
}
.alert_style{
	background-color:#FFFFFF;
	border:solid;
	color:#333333;
	border-color:#000000;
}
#ad_336{
	float:left;
	width:336px;
	padding: 0px;
	margin-bottom: 10px;
}
